.App {
    position: relative;
    width: 47%;
    margin: 0 auto;
    margin-top: 200px;
}

.modal_items_name {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;

}

.modal_items_name div {
    display: flex;
}

.modal_items_name span {
    margin-right: 3px;
}

.modal_group_buttons {
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
}

