.App {
    position: relative;
    width: 70%;
    margin: 200px auto 0;
}

.modal_items_name {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;

}

.modal_items_name div {
    display: flex;
}

.modal_items_name span {
    margin-right: 3px;
}

.modal_group_buttons {
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
}

.wrapper_table {
    height: 400px;
    width: 100%;
}

footer_table_item {
    margin-right: 20px;
}
